@model IEnumerable<POne.Models.ProductModel>

@{
    ViewData["Title"] = "ListProductsEdit";
}

<h1>Products from @ViewData["LocationName"]</h1>

<p>
    @Html.ActionLink("Create New", "AddProduct", new { ID = ViewData["ID"] })
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.PrdId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.PrdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.ActionLink("Restock", "Restock", new { ID = item.PrdId })
            </td>
        </tr>
}
    </tbody>
</table>
